.additional-products__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $black;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    flex-grow: 1;
    flex-shrink: 0;
    height: 3px;
    width: 60vw;
    background-color: $green;
  }
}

.additional-products__title span {
  display: block;
  position: relative;
  width: 248px;
  font-size: 24px;
  line-height: 24px;
  font-family: $regular;
  font-weight: normal;
  background-color: #ffffff;
  z-index: 1;
  padding-left: 20px;
  padding-top: 29px;
  padding-bottom: 31px;

  &:first-child {
    padding-left: 0;
  }
}

.additional-products__list {
  @include list-reset;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.additional-products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.additional-products__item h3 {
  width: 100%;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: 2px;
  padding: 0;
  font-family: $regular;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__item p {
  width: 50%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: $default-font;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-weight: normal;

  color: $darkgray;

  &:last-of-type {
    text-align: right;
    text-transform: uppercase;
  }
}

.additional-products__button {
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  width: 100%;
  padding: 10px;
  margin-bottom: 17px;
}

.additional-products__promo {
  position: relative;
  margin-top: 39px;
  margin-bottom: 35px;
  padding: 10px;
  padding-top: 186px;

  width: auto;
  min-height: 289px;
  background-color: $green;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 60px;
    top: 65px;
    left: 50%;
    margin-left: -27px;
    background-image: url("../img/icon-gift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.promo__description {
  width: 180px;
  margin: 0 auto;
  padding: 0;
  font-family: $default-font;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

@media (min-width: $tablet) {
  .additional-products__title {
    &::after {
      width: 100vw;
      margin-top: 4px;
    }
  }

  .additional-products__title span {
    display: block;
    width: 411px;
    font-size: 36px;
    line-height: 36px;

    padding-left: 40px;
    padding-top: 29px;
    padding-bottom: 31px;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      top: 36px;
      left: -3px;
      width: 3px;
      height: 30px;
      background-color: #ffffff;
      z-index: 1;
    }

    &:first-child {
      padding-left: 36px;
    }
  }

  .additional-products__wrapper {
    margin-top: 48px;
  }

  .additional-products__list {
    border: 1px solid #e6e6e6;
  }

  .additional-products__item {
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 36px;
    padding-top: 26px;
    padding-bottom: 27px;
  }

  .additional-products__item h3 {
    width: 284px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__item p {
    width: 230px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;

    &:last-of-type {
      width: 70px;
    }
  }

  .additional-products__button {
    margin-bottom: 0;
  }

  .additional-products__promo {
    position: relative;
    margin-top: 69px;
    margin-bottom: 75px;
    padding: 10px;
    padding-top: 72px;
    padding-left: 59%;

    min-width: 708px;
    min-height: 200px;
    background-color: $green;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      width: 55px;
      height: 60px;
      top: 65px;
      left: 91px;
      margin-left: 0;
      background-image: url("../img/icon-gift.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .promo__description {
    width: 180px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: $default-font;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }
}

@media (min-width: $desktop) {
  .additional-products__title span {
    display: block;
    width: 372px;

    &::before {
      position: absolute;
      content: "";
      top: 36px;
      left: -40px;
      width: 40px;
      height: 30px;
      background-color: #ffffff;
      z-index: 1;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 86px;
    box-sizing: border-box;
  }

  .additional-products__list {
    width: 895px;
    border: none;
    border-top: 1px solid #e6e6e6;
  }

  .additional-products__item {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .additional-products__item h3 {
    width: 245px;
    margin-bottom: 0;
  }

  .additional-products__item p {
    align-self: auto;
    width: 245px;
    margin: 0;
    margin-top: 8px;
    margin-left: 80px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: left;


    &:last-of-type {
      width: 60px;
      margin-left: 0;
      text-align: left;
    }
  }

  .additional-products__button {
    width: 245px;
    margin-left: auto;
  }

  .additional-products__promo {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 187px;
    min-width: 245px;
    min-height: 289px;
    background-color: $green;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      width: 55px;
      height: 60px;
      top: 65px;
      left: 50%;
      margin-left: -27px;
      background-image: url("../img/icon-gift.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .promo__description {
    width: 180px;
    margin: 0 auto;
    padding: 0;
    font-family: $default-font;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }
}
