.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;

  &--green {
    color: $white;
    background-color: $green;
    font-family: $regular;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      color: $white-active;
      background-color: $green-hover;
    }
  }

  &--gray {
    color: $black;
    background-color: $gray;
    font-family: $regular;

    &:hover {
      background-color: $gray-hover;
    }

    &:active {
      color: $black-active;
      background-color: $gray-hover;
    }
  }
}
