.card--more {
  border-bottom: 1px solid #ededed;
  padding-bottom: 24px;
  margin-bottom: 31px;

  .catalog__wrapper {
    flex-direction: column;
  }
}

.card--more__image {
  margin-top: 26px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.2;
}

.card--more__slogan-more {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  font-family: $regular;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card--more__slogan-more br {
  display: none;
}

.card--more__more-description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.card--more__more-description br {
  display: none;
}

.card--more__button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  color: $darkgray;
}

@media (min-width: $tablet) {
  .card--more {
    background-color: $default-bg;
    border: 1px solid #cdcdcd;
  }

  .card--more__image {
    margin-top: 55px;
    margin-bottom: 51px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
    opacity: 0.2;
  }

  .card--more__slogan-more {
    margin-bottom: 28px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .card--more__slogan-more br {
    display: block;
  }

  .card--more__more-description {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .card--more__more-description br {
    display: block;
  }

  .card--more__button {
    margin-top: 80px;
    width: 249px;
  }
}
