.catalog {
  width: auto;
  margin: 0 auto;
}

.catalog__item {
  border: 1px solid #ededed;
  border-bottom: none;
  padding-bottom: 24px;
}

@media (min-width: $tablet) {
  .catalog {
    width: auto;
  }

  .catalog__list {
    width: 92%;
    margin: 0 auto;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 45.8%;
    margin-bottom: 140px;
    padding-bottom: 40px;
    border: none;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &.card-more {
      padding-bottom: 39px;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }
  }
}

@media (min-width: $desktop) {
  .catalog {
    width: $desktop;
  }

  .catalog__list {
    width: 1220px;
    margin-bottom: 46px;
  }

  .catalog__item {
    width: 245px;
    margin-bottom: 144px;
    padding-bottom: 40px;
    align-self: flex-start;

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
