.catalog {
  min-width: $mobile;
}

.catalog__item {
  border-top: 1px solid #ededed;
  margin-bottom: 24px;

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet) {
  .catalog__list {
    @include margin-center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    margin-bottom: 72px;
  }

  .catalog__item {
    width: 324px;
    margin-bottom: 140px;
    padding-bottom: 40px;
    border-top: none;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &.card-more {
      border-top: 1px solid #cdcdcd;
    }

    .container {
      width: auto;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (min-width: $desktop) {
  .catalog__list {
    width: 1220px;
    margin-bottom: 80px;
  }

  .catalog__item {
    width: 245px;
    margin-bottom: 140px;
    padding-bottom: 40px;
    align-self: flex-start;

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
