.catalog {
  min-width: $mobile;
}

.catalog__item {
  border-top: 1px solid #ededed;
  margin-bottom: 24px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

@media (min-width: $tablet) {
  .catalog__row {
    margin-left: -60px;
  }

  .catalog__list {
    margin: 0 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    flex-grow: 1;
    margin-left: 60px;
    margin-bottom: 140px;
    padding-bottom: 40px;
    border-top: none;

    &.card--more {
      border-top: 1px solid #cdcdcd;
      box-sizing: border-box;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 72px;
    }

    .container {
      margin: 0;
    }
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop) {
  .catalog__row {
    margin-left: -80px;
  }

  .catalog__list {
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 245px;
    margin-left: 80px;
    margin-bottom: 140px;
    padding-bottom: 40px;
    border-top: none;

    &.card--more {
      border-top: 1px solid #cdcdcd;
      box-sizing: border-box;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 80px;
    }

    .container {
      margin: 0;
    }
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
