.container {
  width: 88%;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .container {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 1220px;
    margin: 0 auto;
  }
}
