.contacts-info p {
  margin: 0;
  padding: 0;
  font-family: $regular;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-info input {
  font: inherit;
  padding: 12px 13px 11px;
  padding-right: 40px;
  text-transform: uppercase;
  color: $darkgray;
  box-sizing: border-box;
}

.contacts-info__field-email {
  position: relative;

  .contacts-info__value {
    width: 78%;
    height: inherit;
  }
}

.contacts-info__value {
  &:focus {
    border: 2px solid $darkgray;
    outline-style: none;
  }

  &:focus:invalid {
    border: 2px solid #ff8282;
  }

  &:focus:invalid + .contacts-info__value-mail,
  &:focus:invalid + .contacts-info__value-phone {
    fill: #ff8282;
  }

  &:focus:valid + .contacts-info__value-mail,
  &:focus:valid + .contacts-info__value-phone {
    fill: $green;
  }
}

.contacts-info__value-mail {
  position: absolute;
  right: 17px;
  top: 16px;
  width: 17px;
  height: 13px;
  fill: #222222;
}

.contacts-info__field-phone {
  position: relative;

  .contacts-info__value {
    width: 72.5%;
    height: inherit;
  }
}

.contacts-info__value-phone {
  position: absolute;
  right: 13px;
  top: 13px;
  width: 20px;
  height: 20px;
  fill: #222222;
}

@media (min-width: $tablet) {
  .contacts-info p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 22px;
    height: 52px;
  }

  .contacts-info input {
    padding: 9px 13px 8px 18px;
    padding-right: 40px;
  }

  .contacts-info {
    .contacts-info__field-email {
      width: 89.5%;
      margin-left: 40px;
    }

    .contacts-info__field-phone {
      width: 89.5%;
      margin-left: 38px;
    }
  }

  .contacts-info__field-email {
    .contacts-info__value {
      width: 87.2%;
      height: inherit;
    }
  }

  .contacts-info__field-phone {
    .contacts-info__value {
      width: 84.5%;
      height: inherit;
    }
  }

  .contacts-info__value-mail {
    position: absolute;
    right: 21px;
    top: 20px;
  }

  .contacts-info__value-phone {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

@media (min-width: $desktop) {
  .contacts-info__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .contacts-info p {
    margin-bottom: 0;
  }

  .contacts-info {
    .contacts-info__field-email,
    .contacts-info__field-phone {
      width: 570px;
      margin-left: 0;
    }
  }

  .contacts-info__field-email {
    .contacts-info__value {
      width: 486px;
      height: inherit;
    }
  }

  .contacts-info__field-phone {
    .contacts-info__value {
      width: 472px;
      height: inherit;
    }
  }

  .contacts-info__value-phone {
    right: 19px;
  }
}
