.copyright {
  width: auto;
  display: flex;
  align-items: center;
}

.copyright__link {
  font-family: $default-font;
  font-size: 16px;
  line-height: 16px;
  color: $darkgray;
  text-decoration: none;

  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-size: 16px;
  line-height: 16px;
  color: $darkgray;
  text-decoration: none;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}

@media (min-width: $tablet) {
  .copyright {
    min-width: 162px;
  }

  .copyright__link {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
