.diet-list {
  @include list-reset;
}

.diet-list__item {
  padding: 24px 20px 22px 20px;
  margin-bottom: 20px;
  background-color: $gray;

  &:last-child {
    margin-bottom: 0;
  }
}

.diet-list__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-left: 70px;
  font-family: $regular;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  color: $black;
}

.diet-list__description {
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 18px;
  color: $darkgray;
}

.diet-list__link {
  font-family: $regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

@media (min-width: $tablet) {
  .diet-list__item {
    padding: 80px 52px 62px;
    margin-bottom: 30px;
  }

  .diet-list__title {
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
    text-align: left;
  }

  .diet-list__description {
    width: 372px;
    margin: 0;
    padding: 0;
    padding-bottom: 58px;
    font-size: 16px;
    line-height: 24px;
  }

  .diet-list__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .diet-list__item {
    width: 570px;
    min-height: 372px;
    padding: 47px 52px 62px;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .diet-list__title {
    padding-left: 164px;
    padding-top: 26px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 37px;
    text-align: left;
  }

  .diet-list__description {
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .diet-list__link {
    font-size: 20px;
    line-height: 20px;
  }
}
