.example {
  background: $gray;
}

.example__column {
  &--content {
    padding: 0 20px;
  }

  &--slider {
    width: 100%;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-top: 16px;
  font-family: $regular;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
}

.example__descriptions {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  width: 96%;
  color: $darkgray;
}

.example__stats {
  margin-bottom: 34px;
}

.example__food-costs {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
  font-family: $regular;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet) {
  .example {
    background: $white;
  }

  .example__title {
    margin-bottom: 65px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .example__descriptions {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example__stats {
    margin-bottom: 0;
  }

  .example__food-costs {
    margin: 0;
    padding: 0;
    font-family: $regular;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__food-costs span {
    display: block;

    &:first-child {
      margin-top: 11px;
      margin-bottom: 10px;
    }
  }

  .example__column {
    &--content {
      padding: 0 30px;
    }

    &--slider {
      width: 100%;
    }
  }

  .example__slider {
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop) {
  .example {
    position: relative;
    min-height: 657px;
    background:
      linear-gradient($white, $white 195px, transparent 195px, transparent),
      linear-gradient(90deg, $gray, $gray 50%, #eaeaea 50%, #eaeaea);
  }

  .example__title {
    flex-grow: 1;
    padding-top: 61px;
    margin-bottom: 145px;
    z-index: 2;
  }

  .example__descriptions {
    width: 431px;
    margin-bottom: 69px;
    z-index: 2;
  }

  .example__wrapper {
    margin: 0 auto;
    width: 1220px;
    flex-wrap: wrap;
  }

  .example__column {
    &--content {
      align-self: flex-start;
      width: 520px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &--slider {
      width: auto;
    }
  }

  .example__slider {
    margin-top: 0;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .example__stats {
    width: 366px;
    margin-bottom: 48px;
  }

  .example__food-costs {
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
