.food-programm {
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: $white;
  margin-bottom: 22px;
}

.food-programm__bg-element {
  min-height: 305px;
  background-color: $green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.food-programm__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-family: $regular;
  font-weight: normal;
}

.food-programm__slogan {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: $regular;
  font-weight: normal;
}

.food-programm__image {
  display: block;
  margin: 0 auto;
  margin-top: -169px;
  width: 280px;
  height: 271px;
}

.food-programm__button {
  display: block;
  margin-top: 3px;
  font-size: 14px;
  line-height: 18px;
  padding: 11px;
}

@media (min-width: $tablet) {
  .food-programm {
    width: auto;
    text-align: left;
    color: $black;
    margin-bottom: 0;

    .container {
      position: relative;
    }
  }

  .food-programm__bg-element {
    min-height: auto;
    background: none;
  }

  .food-programm__title {
    margin: 0;
    margin-bottom: 41px;
    padding-top: 0;
    padding-left: 88px;
    font-size: 60px;
    line-height: 60px;
    font-family: $regular;
    font-weight: normal;
  }

  .food-programm__slogan {
    padding-left: 88px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .food-programm__image {
    margin-top: 0;
    width: 709px;
    height: 609px;
  }

  .food-programm__button {
    position: absolute;
    top: 28px;
    left: 0;
    display: inline-block;
    min-width: 245px;
    margin: 0;
    margin-left: 88px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop) {
  .food-programm {
    width: $desktop;
    text-align: left;
    color: $black;
    margin: 0 auto;
    margin-bottom: 77px;
    min-height: 583px;
    position: relative;
    display: flex;

    .container {
      width: auto;
      position: static;
      flex-shrink: 0;
      margin: 0;
    }
  }

  .food-programm__title {
    margin: 0;
    margin-top: 105px;
    margin-bottom: 40px;
    padding-top: 0;
    padding-left: 120px;
    font-size: 60px;
    line-height: 60px;
    font-family: $regular;
    font-weight: normal;
  }

  .food-programm__bg-element {
    display: flex;

    .container + .container {
      position: relative;
    }
  }

  .food-programm__slogan {
    padding-left: 120px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .food-programm__image {
    margin-top: 29px;
    margin-left: -43px;
    width: 552px;
    height: 499px;
  }

  .food-programm__button {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 245px;
    margin: 0;
    margin-left: 120px;
    margin-top: 338px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
  }
}
