.main-nav__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 439px;
  }
}
