.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding: 23px 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item--active a {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.site-list__item-link {
  padding: 23px 0;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
