.options {
  min-width: $mobile;
  margin-bottom: 20px;
}

.options__list {
  @include list-reset;
}

@media (min-width: $tablet) {
  .options {
    margin-bottom: 54px;

    .container {
      width: 708px;
    }
  }
}
