.options {
  width: auto;
  margin: 0 auto;
  margin-bottom: 16px;
}

.options__list {
  @include list-reset;
}

@media (min-width: $tablet) {
  .options {
    width: auto;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop) {
  .options {
    width: $desktop;
    margin-bottom: 72px;
  }

  .options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
