.options {
  width: $mobile;
  margin: 0 auto;
  margin-bottom: 16px;
}

.options__list {
  @include list-reset;
}

@media (min-width: $tablet) {
  .options {
    width: $tablet;
    margin-bottom: 45px;

    .container {
      width: 708px;
    }
  }
}

@media (min-width: $desktop) {
  .options {
    width: $desktop;
    margin-bottom: 72px;

    .container {
      width: 1220px;
    }
  }

  .options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
