.page-inner__title {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 29px;
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  font-weight: normal;
}

@media (min-width: $tablet) {
  .page-inner__title {
    margin: 0;
    padding: 0;
    margin-top: 55px;
    margin-bottom: 164px;
    font-family: $regular;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    font-weight: normal;
  }
}

@media (min-width: $desktop) {
  .page-inner__title {
    margin-top: 71px;
  }
}
