.page-inner__title {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 29px;
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  font-weight: normal;
}

.page-inner__form {
  .page-inner__title {
    margin-bottom: 25px;
  }
}

.page-inner__description {
  margin: 0;
  padding: 0;
  font-family: $regular;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

.page-inner {
  .contacts {
    background-color: $gray;
  }

  .contacts__info {
    background-color: $gray;
  }
}

@media (min-width: $tablet) {
  .page-inner__title {
    margin-top: 55px;
    margin-bottom: 164px;
    font-size: 60px;
    line-height: 60px;
  }

  .page-inner__form {
    .page-inner__title {
      margin-bottom: 56px;
    }
  }

  .page-inner__description {
    margin-left: 39px;
    width: 340px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .page-inner__title {
    margin-top: 71px;
  }

  .page-inner {
    .contacts__info {
      background-color: $white;
    }
  }

  .page-inner__description {
    margin-left: 0;
  }
}
