.page-footer {
  min-width: $mobile;
  font-family: $default-font;
  font-size: 16px;
  line-height: 16px;
  color: $darkgray;
  background-color: $gray;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  padding: 39px 0 31px;
  margin: 0 auto;
}

.page-footer__social {
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 125px;
}

.page-footer__link {
  font-family: $default-font;
  font-size: 16px;
  line-height: 16px;
  color: $darkgray;
  text-decoration: none;
  align-self: center;
}

.page-footer__copyright {
  min-height: 62px;
}
