.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item a {
  display: block;
  padding: 23px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-family: $medium;
  color: $black;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .site-list__item {
    border-bottom: none;
  }

  .site-list__item a {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-family: $regular;
    color: #222222;
  }
}
