.slider {
  position: relative;
  padding-bottom: 36px;
}

.slider__input {
  display: none;
}

.slider__list {
  width: 100%;

  @include list-reset;
  margin-bottom: 32px;
}

.slider__item {
  &--after {
    display: none;
  }
}

.slider__control {
  margin-left: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.slider__label {
  font-size: 16px;
  line-height: 20px;
  font-family: $regular;
  text-transform: uppercase;
  color: $black;
  user-select: none;
  cursor: pointer;
}

.slider__range {
  position: relative;
  display: block;
  width: 84px;
  margin: 3px 18px;
}

.slider__scale {
  display: block;
  height: 14px;
  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
}

.slider__button {
  position: absolute;
  display: block;
  top: 50%;
  left: 5px;
  width: 35px;
  height: 6px;
  margin-top: -3px;
  padding: 0;
  background-color: $green;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
}

.slider__img {
  position: relative;
  display: block;
  width: 320px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $mobile-only) {
  .slider__input--before:checked ~ .slider__wrapper .slider__button {
    left: 5px;
  }

  .slider__input--after:checked ~ .slider__wrapper .slider__button {
    left: calc(100% - 40px);
  }

  .slider__input--after:checked ~ .slider__wrapper .slider__item--before,
  .slider__input--before:checked ~ .slider__wrapper .slider__item--after {
    display: none;
  }

  .slider__input--after:checked ~ .slider__wrapper .slider__item--after,
  .slider__input--before:checked ~ .slider__wrapper .slider__item--before {
    display: block;
  }
}

@media (min-width: $tablet) {
  .slider {
    width: 100%;
    padding-bottom: 66px;
    margin: 0 auto;

    background-image:
      linear-gradient(white 169px, transparent 169px),
      linear-gradient(90deg, $gray 50%, #eaeaea 50%);
  }

  .slider__label {
    font-size: 20px;
    padding: 7px 0 6px;
    border-bottom: 1px dotted rgba($black, 0.23);

    &:hover {
      border-bottom-style: solid;
      border-color: rgba($black, 0.4);
    }

    &:active {
      border-color: transparent;
    }
  }

  .slider__control {
    margin-left: 0;
  }

  .slider__range {
    width: 428px;
    margin: 0 21px 0 23px;
    padding: 15px 0 13px;
  }

  .slider__scale {
    height: 6px;
    background-color: #dcdcdc;
    border: 0;
  }

  .slider__button {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -17px;
    background-color: $white;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba($black, 0.15);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba($black, 0.25);
    }

    &:active,
    &:focus {
      border: 2px solid $green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
  }

  .slider__list {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: auto;
      bottom: 0;
      width: 690px;
      background-image: linear-gradient($white 169px, #eaeaea 169px);
    }
  }

  .slider__item {
    position: relative;
    z-index: 1;

    &--before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
      width: 345px;
      overflow: hidden;
      background-image: linear-gradient($white 169px, $gray 169px);
    }

    &--after {
      display: block;
    }
  }

  .slider__img {
    width: 690px;
    max-width: 690px;
    height: 517px;
    margin-right: auto;
    margin-left: 7px;
  }
}

@media (min-width: $desktop) {
  .slider {
    // position: absolute;
    // top: 0;
    // right: 0;
    padding-bottom: 69px;
    background:
      linear-gradient(white 190px, transparent 190px),
      linear-gradient(90deg, $gray 50%, #eaeaea 50%);
    z-index: 1;
  }


  .slider__list {
    width: 650px;
    margin-right: auto;
    margin-bottom: 33px;

    &::after {
      background-image: linear-gradient($white 195px, #eaeaea 195px);
    }
  }

  .slider__item {
    &--before {
    width: 365px;
    background-image: linear-gradient($white 195px, $gray 195px);
    }
  }

  .slider__img {
    margin-top: 5px;
    margin-left: 0;
  }

  .slider__control {
    margin-left: 80px;
  }
}
