.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include list-reset;
  margin: 0 auto;
  width: 125px;
}

.social__item {
  align-self: center;
}

.social__link {
  font-family: $default-font;
  font-size: 16px;
  line-height: 16px;
  color: $darkgray;
  text-decoration: none;
}

.social__link svg {
  fill: $darkgray;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk svg {
  width: 22px;
  height: 12px;
}

.social__link--insta svg {
  width: 16px;
  height: 16px;
}

.social__link--fb svg {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet) {
  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--insta svg {
    width: 23px;
    height: 23px;
  }

  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
